langchain==0.1.15
pypdf
transformers==4.39.3
sentence-transformers
accelerate
faiss-cpu
streamlit==1.33.0
langchain-fireworks
einops
langchain-together
ray==2.10.0
unstructured
streamlit==1.33.0
langchain==0.1.15
pypdf==4.3.1
transformers==4.39.3
sentence-transformers==3.0.1
accelerate==0.34.2
faiss-cpu==1.8.0
langchain-fireworks==0.1.7
einops==0.8.0
langchain-together==0.1.5

