deep_translator==1.11.4
langchain==0.2.16
langchain_community==0.2.16
langchain_huggingface==0.0.3
langchain_together==0.1.5
streamlit==1.33.0
faiss-cpu==1.7.4
langchain-community==0.2.16
langchain-core==0.2.38
langchain-experimental==0.0.50
langchain-google-vertexai==0.1.2
langchain-huggingface==0.0.3
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
langchain-together==0.1.5
huggingface-hub==0.24.6
